:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* VARIABLES */
  --text-color: #333;
  --bg-color: #eee;
  --post-bg-color: #fff;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app {
  padding: 50px 0;
}
